@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.button {
    height: sizeHeight(56);
    min-height: sizeHeight(56);
    width: 100%;
    border-radius: sizeHeight(28);
    background-color: #006FBA;
    color: #FFFFFF;
    font-size: sizeHeight(18);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

    &__done {
      background: #0BA4A4;
      font-weight: bold;
    }

    &__disabled {
      opacity: .5;
      pointer-events: none;
      transition: .5s;
    }
  }