@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.stage {
  width: 100%;
  height: sizeHeight(165);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: sizeHeight(15) sizeWidth(12);
  border-radius: sizeHeight(22);
  background-color: #FFFFFF;
  font-size: sizeHeight(18);
  margin: sizeHeight(10) 0;

  &-active {
    background-color: #1C76FE;
    color: #ffffff;
  }

  &__personal {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: sizeWidth(15);

    .name {
      color: #404763;
      font-size: sizeHeight(13);
      line-height: sizeHeight(21);
      margin-bottom: sizeHeight(12);

      display: flex;
      flex-direction: column;
    }

    .position {
      color: #98A9BC;
      font-size: sizeHeight(10);
    }

    .surname {
      color: #1C76FE;
      font-size: sizeHeight(18);
    }
  }

  &__photo {
    width: sizeHeight(135);
    height: sizeHeight(135);
    border-radius: sizeHeight(22);

    overflow: hidden;

    cashed-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
