<div class="stage ion-activatable ripple-parent"
     [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
  <ion-ripple-effect></ion-ripple-effect>
  <div class="stage__photo">
    <cashed-img *ngIf="element.imagePath" src="{{restUrl}}/{{element.imagePath}}"></cashed-img>
  </div>
  <div class="stage__personal">
    <div class="name">
      <span class="surname">{{element.surname}}</span>
      <span>{{element.firstName}} {{element.patronymic}}</span>
    </div>
    <div class="position">{{element.position}}</div>
  </div>
</div>
