<div class="container" style="position: fixed; top: 0; height: 30%; z-index: 9999999">
<div class="header">
  <div class="title">
    Вход в систему
  </div>
</div>

</div>
<div class="container">
  <div class="content">
    <div class="enter-with-logo" style="display:flex; flex-direction: column; justify-content: space-around; height: 100%; align-items: center">
      <div class="enter" [class.swing]="isSwingAnimation$ | async">
        <div class="enter__title">
          Введите код доступа
        </div>
        <div class="enter__code">
          <input #input [formControl]="codeControl" type="tel" maxlength="5">
        </div>
        <div class="enter__subtitle">
          Если у Вас нет кода, обратитесь к Вашему <span>HR бизнес-партнёру</span>
        </div>
      </div>
    </div>
    <div class="container" style="overflow: hidden; position: absolute; height: 100%">
      <div class="gradient">
        <svg-icon src="assets/icon/gradient2.svg"></svg-icon>
      </div>
    </div>

  </div>
</div>

<div style="position: absolute; bottom: 0; height: 100vh;">
  <div class="logo-wrapper" style="position: absolute; display: flex; width: 100vw; justify-content: center; align-items: center;">
    <svg-icon class="logo" src="assets/icon/gpn-logo.svg"></svg-icon>
  </div>
</div>





