@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.footer {
    color: #98a9bc;
    font-size: sizeHeight(14);
    margin-top: sizeHeight(5);
}

.block {
    width: 100%;
    padding: sizeWidth(16);
    background-color: #ffffff;
    border-radius: sizeWidth(22);
    font-size: sizeHeight(17);

    display: flex;
    flex-direction: column;
  }