@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

ion-content {
  overflow: hidden !important;
  background-color: #f8fafb;
}

.header {
  height: sizeHeight(126);
  background-color: #1c76fe;
  color: #ffffff;
  font-family: "SegoeUI_Bold";
  font-size: sizeHeight(18);
  display: flex;
  align-items: center;
  padding: sizeHeight(44) sizeWidth(30) 0;

  .arrow {
    transform: rotate(90deg);
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: sizeWidth(25);
  }
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(22) sizeWidth(30);
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #404763;
  font-size: sizeHeight(18);

  overflow-y: scroll;

  .mb {
    margin-bottom: sizeHeight(14);
  }

  .footer {
    color: #98a9bc;
    font-size: sizeHeight(16);
    margin-top: sizeHeight(5);
  }

  .video,
  .image,
  .image-squad {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .button {
    height: sizeHeight(56);
    min-height: sizeHeight(56);
    width: 100%;
    border-radius: sizeHeight(28);
    background-color: #1c76fe;
    color: #ffffff;
    font-size: sizeHeight(18);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    &__done {
      background: #0ba4a4;
      font-weight: bold;
    }

    &__disabled {
      opacity: 0.5;
      pointer-events: none;
      transition: 0.5s;
    }
  }

  iframe {
    outline: none;
    width: 100%;
    height: 27vh;
    border: none;
  }

  cashed-img,
  img,
  iframe,
  video {
    border-radius: sizeHeight(22);
  }

  video {
    width: 100%;
    object-fit: cover;
  }

  .usualText {
    width: 100%;
    color: #303549;
    font-size: sizeHeight(16);
    text-align: justify;
  }

  .accentText {
    color: #303549;
    font-size: sizeHeight(19);
    font-weight: bold;
    width: 100%;
  }

  .block {
    width: 100%;
    padding: sizeWidth(16);
    background-color: #ffffff;
    border-radius: sizeWidth(22);
    font-size: sizeHeight(16);
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    display: flex;
    flex-direction: column;
  }

  .file {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);


    &__path {
      margin-left: sizeWidth(15);
      font-size: sizeHeight(16);

      display: flex;
      align-items: center;
    }
  }

  .blitz {
    width: 100%;
    padding: sizeHeight(16) sizeWidth(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    display: flex;
    flex-direction: column;

    &__header {
      width: 100%;
      font-style: bold;
      font-size: sizeHeight(16);

      display: flex;
      align-items: center;
      margin-bottom: sizeHeight(14);
    }

    &__rate {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: sizeHeight(14);

      svg-icon {
        display: flex;
      }

      .star {
        height: sizeHeight(43);
        width: sizeHeight(43);
        border-radius: 50%;
        padding: sizeHeight(8);
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #e8ecef;
        color: #f2f2f2;

        &-active {
          background-color: #f2994a;
          color: #ffffff;
        }
      }
    }
  }

  .more,
  .manual-input {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: sizeHeight(12);
    height: fit-content;
    min-height: fit-content;
    position: relative;
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    &__title {
      width: 100%;
      min-height: sizeHeight(20);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-style: bold;
      font-size: sizeHeight(16);
    }

    &__description {
      font-size: sizeHeight(16);
      margin-top: sizeHeight(18);
      white-space: pre-wrap;
    }

    &__text {
      outline: none;
      border: none;
      font-size: sizeHeight(16);
      --padding-start: 0;
      white-space: pre-wrap;
    }

    &__send {
      width: sizeHeight(40);
      height: sizeHeight(40);
      background-color: #0089ff;
      border-radius: sizeHeight(11);

      display: flex;
      align-items: center;
      justify-content: center;
      padding: sizeHeight(10) sizeWidth(10);

      position: absolute;
      bottom: sizeHeight(5);
      right: sizeWidth(5);
    }

    .active {
      transform: rotate(-180deg);
    }
  }

  .termin,
  .attention,
  .points {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    display: flex;
    flex-direction: column;

    &__title {
      width: 100%;
      font-style: bold;
      font-size: sizeHeight(16);
      display: flex;
      align-items: center;

      .text {
        padding-left: sizeWidth(13);
        max-width: sizeWidth(200);
        font-size: sizeHeight(16);
      }

      &__logo {
        width: sizeHeight(40);
        height: sizeHeight(40);
        border-radius: 50%;
        background-color: #00a99d;

        display: flex;
        justify-content: center;
        align-items: center;

        &-attention {
          background-color: #0059f7;
          height: sizeHeight(40);
          width: sizeHeight(40);
          border-radius: 50%;
          box-sizing: border-box;
          padding: sizeHeight(8);
        }
      }
    }

    &__description {
      margin-top: sizeHeight(18);
      font-size: sizeHeight(16);
      text-align: left;
      white-space: pre-wrap;
    }
  }

  .checkbox {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    display: flex;
    justify-content: left;

    &__description {
      margin-left: sizeWidth(14);
      font-size: sizeHeight(16);
      text-align: left;
      overflow: hidden;
      width: 90%;
      white-space: pre-wrap;
    }

    &__logo {
      width: sizeWidth(27);
      width: sizeWidth(27);
      padding: sizeHeight(2);
    }

    .checkbox-active {
      font-weight: bold;
    }
  }

  ion-checkbox {
    --background: #F8FAFB;
    --border-color: #EBF1F9;
    --border-width: 1px;
    --border-color-checked: #0F62FE;
  }

  .file__icon {
    position: relative;
  }

  .footer-top {
    margin-bottom: 8px;
  }

  .file__path {
    color: #303549;
    position: relative;
    top: sizeHeight(-5);
  }

  .blitz__header {
    font-weight: bold;
    width: 100%;
  }

  .bullet-point {
    min-width: sizeHeight(28);
    min-height: sizeWidth(28);
    max-width: sizeHeight(28);
    max-height: sizeWidth(28);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .digit {
      color: white;
      font-weight: 500;
      font-family: "Magistral";
      font-size: sizeHeight(14);
    }
  }

  svg-icon {
    display: flex;
  }

  .mb10 {
    margin-bottom: sizeHeight(10);
  }

  .mt8 {
    margin-top: sizeHeight(8);
  }

  .digit-block {
    font-size: sizeHeight(16);
    font-family: "Magistral";
    font-weight: 500;
    min-width: sizeHeight(40);
    max-width: sizeHeight(40);
    text-align: center;
    color: white;
  }

  .digit-container {
    border-radius: 50%;
    min-width: sizeHeight(40);
    min-height: sizeHeight(40);
    max-height: sizeHeight(40);
    max-width: sizeHeight(40);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: sizeHeight(7);
  }

  .rel-5 {
    margin-top: sizeHeight(8.5);
  }

  .bullet-icon {
    min-width: sizeHeight(40);
    min-height: sizeHeight(40);
    max-height: sizeHeight(40);
    max-width: sizeHeight(40);
  }

  .rel-2 {
    position: relative;
    left: - sizeWidth(1.7);
  }
}
