<ion-header>
  <div class="header">
    <svg-icon class="arrow" src="assets/icon/arrow.svg" (click)="back()"></svg-icon>
    <div class="title">Подробная информация</div>
  </div>
</ion-header>

<ion-content scrollY="false">
  <div class="content" id="content">
    <div style="width: 100%;" *ngFor="let item of data">
      <div  [ngSwitch]="item.componentType">
        <div *ngSwitchCase="1" class="image mb">
          <cashed-img src='{{restUrl}}/{{item.imagePath}}'></cashed-img>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="13" class="image-squad mb">
          <img src='{{restUrl}}/{{item.imagePath}}' />
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="2" class="usualText mb">
          <span style="text-align: justify;" [innerHTML]="item.body | textLines"></span>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="12" class="button mb" (click)="clickButton(item)">{{item.header}}</div>
        <div *ngSwitchCase="11" class="video mb">
          <video *ngIf="!!item.filePath" src='{{restUrl}}/{{item.filePath}}' preload="metadata"
            poster="assets/images/video-preview.png" controls></video>
          <iframe *ngIf="!!item.body" [src]="item.body | safeUrl" allowfullscreen></iframe>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="3" class="accentText mb">
          <span>{{item.body}}</span>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="termin mb" *ngSwitchCase="4">
          <div class="termin__title">
            <div class="termin__title__logo">
              <svg-icon src="assets/icon/progress/termin.svg"></svg-icon>
            </div>
            <div class="text">{{item.header}}</div>
          </div>
          <div style="white-space: pre-line" class="termin__description" >{{item.body}}</div>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="attention mb" *ngSwitchCase="5">
          <div class="attention__title">
            <div class="attention__title__logo-attention">
              <svg-icon src="assets/icon/progress/attention.svg"></svg-icon>
            </div>
            <div class="text" style="font-weight: bold">{{item.header}}</div>
          </div>
          <div class="attention__description" style="white-space: pre-line">{{item.body}}</div>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="block mb" *ngSwitchCase="6">
          <span style="white-space: pre-line">{{item.body}}</span>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="points mb" *ngSwitchCase="10">
          <div class="points__title">
            <div class="point">
              <svg-icon src="assets/icon/progress/point.svg"></svg-icon>
            </div>
            <div class="text">{{item.header}}</div>
          </div>
          <div class="points__description" style="white-space: pre-line">{{item.body}}</div>
        </div>
        <div class="file mb" *ngSwitchCase="8" (click)="openFile(item.filePath)">
          <div *ngIf="item.footer" class="footer footer-top" >{{item.footer}}</div>
          <div style="display: flex; align-items: center">
            <svg-icon class="file__icon" [src]="getFileIcon(item)"></svg-icon>
            <div class="file__path" style="overflow: hidden; display: inline-block; word-wrap: break-word;">{{item.filePath | routeFile}}</div>
          </div>

        </div>
        <div class="more mb" *ngSwitchCase="9">
          <div class="more__title" (click)="openMore(item)">
            <span style="font-weight: bold">{{item.header}}</span>
            <svg-icon class="arrow" src="assets/icon/arrow.svg" [ngClass]="{'active': item.isActive}"></svg-icon>
          </div>
          <div class="more__description" style="white-space: pre-line" *ngIf="item.isActive">{{item.body}}
            <div class="footer">{{item.footer}}</div>
          </div>
        </div>
        <div class="blitz mb" *ngSwitchCase="7">
          <div class="blitz__header">{{item.header}}</div>
          <div class="blitz__rate">
            <div class="star" *ngFor="let rate of rates[item.id]" (click)="rateIt(rate, item.id)"
               [ngStyle]="{'background': getBlitzBackgroundColor(rate, item)}">
              <svg-icon [src]="getBlitzIcon(item)"></svg-icon>
            </div>
          </div>
          <div *ngIf="item.footer" class="footer">{{item.footer}}</div>
        </div>
        <div class="attention mb" *ngSwitchCase="16">
          <div *ngIf="getBulletType(item) === 3">
            <div class="attention__title" style="align-items: flex-start">
              <div *ngIf="getBulletType(item) === 3" style="display: flex;  border-radius: 50%;
            justify-content: center; align-items: center;" [style.background]="getBulletBackground(item)">
                <div class="digit-container" style="" [style.background]="getBulletBackground(item)">
                  <img style="display: flex;" src='{{restUrl}}/{{item.imagePath}}'/>
                </div>
              </div>
              <div class="text rel-5" style="font-weight: bold">{{item.header}}</div>
            </div>
            <div *ngIf="item.body" class="attention__description text mb10 mt8" style="white-space: pre-line">{{item.body}}</div>
          </div>

          <div *ngIf="getBulletType(item) === 1">
            <div class="attention__title" style="align-items: flex-start">
              <div *ngIf="getBulletType(item) === 1" class="digit-container" style="display: flex;
            justify-content: center; align-items: center; background: transparent">
               <!-- <svg-icon  style="display: flex;" [style.color]="getBulletBackground(item)"
                          src="assets/icon/progress/bullet-point.svg"></svg-icon>-->
                <svg [style.color]="getBulletBackground(item)" class="bullet-icon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="50%" cy="50%" r="7" fill="currentColor"/>
                  <circle cx="50%" cy="50%" r="46%" stroke="currentColor"/>
                </svg>
              </div>
              <div class="text rel-5 rel-2" style="font-weight: bold">{{item.header}}</div>
            </div>
            <div *ngIf="item.body" class="attention__description text mb10 mt8" style="white-space: pre-line">{{item.body}}</div>
          </div>

          <div *ngIf="getBulletType(item) === 2">
            <div class="attention__title" style="align-items: flex-start">
              <div *ngIf="getBulletType(item) === 2" style="display: flex;
            justify-content: center; align-items: center; background: transparent">
                <div class="digit-container" [style.background]="getBulletBackground(item)">
                  <div class="digit-block">{{getBulletDigit(item)}}</div>
                </div>
              </div>
              <div class="text rel-5" style="font-weight: bold">{{item.header}}</div>
            </div>
            <div *ngIf="item.body" class="attention__description text mb10 mt8" style="white-space: pre-line">{{item.body}}</div>
          </div>
        </div>
        <div class="manual-input mb" *ngSwitchCase="14">
          <span class="manual-input__title">{{item.header}}</span>
          <ion-textarea auto-grow class="manual-input__text" rows="2" placeholder="Введите текст..."
            [(ngModel)]="text[item.id]"></ion-textarea>
        </div>
        <div (click)="isChecked(item.id, item)" class="checkbox mb" *ngSwitchCase="15">
          <div class="checkbox__logo">
            <ion-checkbox mode="md" [(ngModel)]="item.isActive"></ion-checkbox>
          </div>
          <div *ngIf="item.body" style="white-space: pre-line" class="checkbox__description" [class.checkbox-active]="item.isActive">{{item.body}}</div>
        </div>
      </div>
    </div>

    <div *ngIf="isProgress" class="button button__done" [class.button__disabled]="isDone" style="margin-top: auto"
      (click)="setDone()">Выполнено</div>
  </div>
</ion-content>
