<ion-header>
  <div class="header">
    <div class="title">Новости</div>
  </div>
  <div class="menu">
    <div class="menu__item" *ngFor="let item of menuItems">
      <div class="logo">
        <svg-icon [src]="'assets/icon/news/' + item.logo + '.svg'"></svg-icon>
      </div>
      <div class="name">{{item.name}}</div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <div class="post">
      <div class="post__image">
        <img src="http://cdnimg.rg.ru/img/content/198/28/66/1000_d_850.jpeg" />
        <div class="share">
          <svg-icon src="{{shareIcon}}"></svg-icon>
        </div>
        <div class="save">
          <svg-icon src="{{saveIcon}}"></svg-icon>
        </div>
      </div>
      <div class="post__title">
        НОВАЯ РАЗРАБОТКА ТЕХНОПАРКА «ГАЗПРОМ НЕФТИ» И ОМГТУ СНИЖАЕТ РАСХОДЫ НА ДИАГНОСТИКУ ОБОРУДОВАНИЯ
      </div>
      <div class="content__description">
        Специалисты Технопарка «Газпром нефти» и ОмГТУ создали мобильный комплекс
        для мониторинга состояния промышленного оборудования. Новая система уже прошла серию успешных
        промышленных испытаний и внедряется в производство. По расчетам специалистов, экономический эффект от ее
        использования составит несколько десятков миллионов рублей в год.
      </div>
    </div>
  </div>
</ion-content>