<div class="container">
  <div class="header">
    <div class="title">
      Вход в систему
    </div>
  </div>
  <div class="content">
    <div class="enter">
      <div class="enter__title">
        Введите пароль доступа
      </div>
      <div class="enter__code">
        <input type="text" class="input" maxlength="5">
      </div>
      <div class="enter__title">
        Служба поддержки
      </div>
    </div>
    <svg-icon class="logo" src="assets/icon/gpn-logo.svg"></svg-icon>
  </div>
</div>