@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  width: 100%;
  background-color: #001F4A;
  color: #ffffff;
  font-weight: 500;
  font-size: sizeHeight(18);

  display: flex;
  align-items: center;

  padding: sizeHeight(44) sizeWidth(30) 0;

  .arrow {
    z-index: 999;
    transform: rotate(90deg);
  }
}

.content {
  height: 100%;
  width: 100%;
  background-color: #f8fafb;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: sizeHeight(18);
  position: absolute;

  overflow-y: scroll;

  .title {
    display: flex;
    font-weight: 700;
    font-family: 'SegoeUI_Bold';
    padding-top: sizeHeight(10);
  }
  

  .big-question {
    position: absolute;
    top: sizeHeight(200);
    right: 0;
  }

  .question {
    width: 100%;
    height: 100%;
  }

  &__body {
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(163.36deg, #EB426A 44.89%, #E8AA60 102.64%);
    padding: sizeHeight(100) sizeWidth(50) 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    position: relative;

    .gradient {
      position: absolute;
      left: sizeWidth(85);
      top: sizeHeight(50);
      z-index: 1;
      width: sizeWidth(443);
      height: sizeHeight(837);
      background: linear-gradient(244.98deg, #FFFFFF 9.11%, rgba(255, 255, 255, 0) 53.64%);
      opacity: 0.25;
      transform: rotate(-145deg);
    }

    .gradient-top {
      position: absolute;
      left: sizeWidth(-90);
      top: sizeHeight(-100);
      z-index: 1;
      width: sizeWidth(443);
      height: sizeHeight(837);
      background: linear-gradient(244.98deg, #FFFFFF 9.11%, rgba(255, 255, 255, 0) 53.64%);
      opacity: 0.25;
      transform: rotate(-145deg);
    }

    .title {
      width: 100%;
      height: sizeHeight(147);
      font-size: sizeHeight(22);
      font-weight: 500;
      font-family: 'SegoeUI_Bold';
      color: #ffffff;
      margin-bottom: sizeHeight(24);
    }

    .text {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: sizeHeight(24);
      font-size: sizeHeight(18);
      font-weight: 700;
      font-family: 'SegoeUI_Bold';

      color: #ffffff;

      .logo {
        width: sizeHeight(35);
        height: sizeHeight(35);
        border-radius: sizeHeight(14);

        margin-right: sizeWidth(10);
        position: relative;
        padding: 0.1vh;
      }
    }
  }

  &__footer {
    width: 100%;
    height: sizeHeight(161);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .button {
      z-index: 999;
      width: sizeWidth(311);
      height: sizeHeight(56);
      background-color: #001F4A;
      color: #f8fafb;
      font-size: sizeHeight(18);
      font-weight: 600;
      border-radius: sizeHeight(28);
      margin-bottom: sizeHeight(41);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .end-test {
    width: 100%;
    height: 100%;
    padding: sizeHeight(70) sizeWidth(37) sizeHeight(41);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
      color: #404763;
      font-weight: 700;
      font-size: sizeHeight(30);
      margin-bottom: sizeHeight(75);
    }

    &__button {
      width: sizeWidth(311);
      height: sizeHeight(57);
      border-radius: sizeHeight(28);
      background-color: #001F4A;

      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
    }
  }
}
