@import "src/theme/functions/resizer";

* {
    box-sizing: border-box;
}
.header {
    height: sizeHeight(126);
    background-color: #1C76FE;
    color: #ffffff;
    font-weight: 500;
    font-size: sizeHeight(30);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 0 sizeWidth(30);

    .title {
        display: flex;
        align-items: center;
        width: 100%;
        height: sizeHeight(84);
    }
}
.content {
    height: 100%;
    background-color: #f8fafb;
    padding: sizeHeight(22) 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    color: #404763;
    font-size: sizeHeight(17);

    overflow-y: scroll;

    .item{
        width: 100%;
        height: sizeHeight(63);
        margin-bottom: sizeHeight(5);
    }
}