@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.search {
  height: sizeHeight(48);
  width: 87vw;
  border-radius: sizeHeight(24);
  background-color: var(--bg-block);
  border: sizeHeight(1) solid var(--dividers);
  display: flex;
  align-items: center;

  padding: sizeHeight(10) sizeWidth(10);

  &__logo {
    height: sizeHeight(30);
    width: sizeHeight(30);
    padding: sizeHeight(5);
    margin-top: .7vh;
    color: var(--border-icons);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100%;
    color: var(--border-icons);
    outline: none;
    border: none;
    background: none;
  }

  input::placeholder {
    color: var(--border-icons);
  }
}
