@import "src/theme/functions/resizer";
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 100%;
  background: #f8fafb;

  .page-wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }

  .footer {
    width: 100%;
    height: calc(7.4vh + env(safe-area-inset-bottom));
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(#000000, 0.1);
    z-index: 999;
    padding: sizeHeight(10) 0;

    overflow: hidden;

    .tab-icon {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #e0e0e0;
      font-size: sizeHeight(24);
      transition: 0.5s;
      height: 5vh;
      justify-content: center;

      .tabs-name {
        width: 100%;
        font-family: 'SegoeUI_Bold';
        font-size: sizeHeight(10);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -0.9vh;
      }

      &_active {
        transform: scale(1.1);
        color: #1c76fe;
        transition: 0.5s;
      }
    }
  }
}
