@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.history-page {
  position: relative;
  height: sizeHeight(38);
  width: 100%;

  display: flex;
  align-items: center;
  overflow: hidden;

  .period {
    min-width: sizeWidth(106);
    width: sizeWidth(106);
    margin: 0 sizeWidth(7);
    height: 100%;
    border-radius: sizeHeight(27);
    background-color: #ffffff;
    color: #98a9bc;
    font-size: sizeHeight(14);

    display: flex;
    align-items: center;
    justify-content: center;

    &__active {
      background: #1C76FE;
      color: white;
    }
  }
}
