@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.history-page {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  overflow: scroll;

  .period {
    min-width: sizeWidth(89);
    width: sizeWidth(89);
    margin-right: sizeWidth(9);
    height: sizeHeight(38);
    border-radius: sizeHeight(10);
    background-color: #ffffff;
    color: #1c76fe;
    opacity: 0.75;
    font-size: sizeHeight(14);
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-left: sizeWidth(24);
    }

    //&:last-child {
    //  margin-right: sizeWidth(24);
    //}

    &__active {
      opacity: 1;
      box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);
    }
  }

  .margin-helper {
    height: 1px;
    width: sizeWidth(24 - 9);
    min-width: sizeWidth(24 - 9);
  }
}
