@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.history-page {
  position: relative;
  height: sizeHeight(59);
  padding: sizeHeight(10) 0;

  width: 100%;

  display: flex;
  align-items: center;
  // overflow: hidden;

  .period {
    min-width: sizeWidth(89);
    width: sizeWidth(89);
    margin: 0 sizeWidth(4);
    height: 100%;
    border-radius: sizeHeight(10);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(28, 118, 254, 1);
    opacity: 0.75;
    font-size: sizeHeight(14);

    display: flex;
    align-items: center;
    justify-content: center;

    &__active {
      background: #ffffff;
      color: #1C76FE;
    }
  }
}
