@font-face {
  font-family: "Magistral";
  src: url("fonts/6f415d87a4b5031d623f64b0e4c0235b.eot");
  src: url("fonts/6f415d87a4b5031d623f64b0e4c0235b.woff2") format("woff2"),
    url("fonts/6f415d87a4b5031d623f64b0e4c0235b.woff") format("woff"),
    url("fonts/6f415d87a4b5031d623f64b0e4c0235b.ttf") format("truetype")
}

html {
  font-family: "Magistral";
  --ion-font-family: "Magistral";
  --ion-default-font: "Magistral";
}

