<div class="questions">
  <div class="questions__header">
    <span>Вопрос <span class="current-question">{{questionCount+1}}</span> / {{test?.questions?.length}}</span>
    <div class="gradient"></div>
  </div>
  <div class="questions__body">
    <div class="title">{{question?.title}}</div>
    <ng-container [ngSwitch]="question.type">
      <ng-container *ngSwitchCase="1">
        <div class="answer" *ngFor="let item of (tabsService?.question$ | async)?.answers"
             (click)="selectOneAnswer(item, question)" [ngClass]="{'answer-active': item.isActive}">
          {{item.title}}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <div class="answer" *ngFor="let item of (tabsService?.question$ | async)?.answers" (click)="selectAnswer(item)"
             [ngClass]="{'answer-active': item.isActive}">
          {{item.title}}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <ion-textarea
          class="input"
          [ngModel]="question.answers[0]?.text"
          (ionChange)="inputTextAnswer($event, question)"
          auto-grow
          rows="2"
        ></ion-textarea>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <div class="images-test">
          <ng-container *ngFor="let item of (tabsService?.question$ | async)?.answers">
            <div class="image-card" (click)="selectAnswer(item)">
              <div class="image" [ngClass]="{'image-active': item.isActive}" >
                <img src='{{restUrl}}/{{item.imagePath}}'>
              </div>
              <div class="image-card__text" [ngClass]="{'image-card__text-active': item.isActive}" >
                {{item.title}}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="buttons">
    <div class="buttons__arrow prev" (click)="previousQuestion()" *ngIf="questionCount !== 0">
      <svg-icon src="assets/icon/arrow.svg"></svg-icon>
    </div>
    <div class="buttons__arrow next" (click)="nextQuestion()" *ngIf="questionCount !== test.questions.length - 1">
      <svg-icon src="assets/icon/arrow.svg"></svg-icon>
    </div>
    <div class="buttons__end" (click)="endTest()" *ngIf="questionCount === test?.questions?.length - 1">
      Завершить
    </div>
  </div>
</div>
