<div class="container">
  <div class="container__picture">
    <svg-icon class="logo" src="assets/icon/info.svg"></svg-icon>
    <img src="">
  </div>
  <div class="container__text">
    <div class="title">Доступность информации</div>
    <div class="description">
      Получите доступ к информации об основных бизнес-процессах,
      процедурах и локальных нормативных актах с Вашего мобильного устройства.
      Ознакомьтесь с историей организации, особенностями бизнеса, географией и предоставляемыми
      Вашим работодателям возможностями.
    </div>
  </div>
  <div class="container__dots">
    <div *ngFor="let dot of dots" class="dot"></div>
  </div>
  <div class="container__buttons">
    <div class="support">Служба поддержки</div>
    <div class="start">Начать пользоваться</div>
  </div>
</div>