ion-app {
  transition: 250ms;
}

::ng-deep .theme-light {
  --bg-menu: #FFFFFF;
  --bg-block: #FFFFFF;
  --bg-color-2: #f5f8fd;
  --blue: #0F62FE;
  --text-normal: #606580;
  --text-contrast: #303549;
  --text-subtitle: #8C99B2;
  --border-icons: #8C99B2;
  --forms: #F5F8FD;
  --header: #1C76FE;
  --footer-ripple: rgba(215, 226, 242, 0.5);
  --gray-g11: #F5F8FD;
  --gray-g7: #8C99B2;
  --gray-g9: #D7E2F2;
  --gray-g12: #FFFFFF;
  --gray-g10-50: rgba(235, 241, 249, 0.5);
  --borders: #C4D3E9;
  --shadow-1: rgba(203, 203, 203, 0.25);
  --dividers: #D7E2F2;

  --auth-text: #0F62FE;
  --auth-bg: #001F4A;

  --test-start-bg: #001F4A;
  --sprav-icon-bg: #001F4A;

  --pink: #D12771;

  --shadow-big: sizeHeight(0) sizeHeight(0) sizeHeight(5) rgba(203, 203, 203, 0.25);
}

::ng-deep .theme-dark {
  --bg-menu: #272A38;
  --bg-block: #1C1F2B;
  --bg-color-2: #12151e;
  --blue: #0F62FE;
  --text-normal: #8C99B2;
  --text-contrast: #D7E2F2;
  --text-subtitle: #606580;
  --border-icons: #606580;
  --forms: #12151E;
  --header: #272A38;
  --footer-ripple: rgba(48, 53, 73, 0.5);
  --gray-g11: #1C1F2B;
  --gray-g7: #606580;
  --gray-g9: #303549;
  --gray-g12: #12151E;
  --gray-g10-50: rgba(39, 42, 56, 0.5);
  --borders: #4B5169;
  --shadow-1: rgba(0, 0, 0, 0.25);
  --dividers: #272A38;

  --auth-text: #D7E2F2;
  --auth-bg: #1C1F2B;

  --test-start-bg: #272A38;
  --sprav-icon-bg: #12151E;

  --pink: #FF7D96;

  --shadow-big: sizeHeight(2) sizeHeight(2) sizeHeight(8) rgba(0, 0, 0, 0.25);
}




