@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  background-color: #1C76FE;
  color: #ffffff;
  font-weight: 500;
  font-size: sizeHeight(18);

  display: flex;
  align-items: center;

  padding: sizeHeight(44) sizeWidth(30) 0;

  .arrow {
    transform: rotate(90deg);
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: sizeWidth(25);
  }
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(22) sizeWidth(30);
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #404763;
  font-size: sizeHeight(18);

  overflow-y: scroll;

  .component {
    margin-bottom: sizeHeight(25);
  }

  .button {
    height: sizeHeight(56);
    min-height: sizeHeight(56);
    width: 100%;
    border-radius: sizeHeight(28);
    background-color: #1C76FE;
    color: #FFFFFF;
    font-size: sizeHeight(18);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

    &__done {
      background: #0BA4A4;
      font-weight: bold;
    }

    &__disabled {
      opacity: .5;
      pointer-events: none;
      transition: .5s;
    }
  }
}
