@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  background-color: #006FBA;
  color: #ffffff;
  font-weight: 500;
  font-size: sizeHeight(18);

  display: flex;
  align-items: center;
  gap: sizeWidth(25);

  padding: sizeHeight(44) sizeWidth(30) 0;

  .arrow {
    transform: rotate(90deg);
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(22) sizeWidth(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: sizeHeight(15);

  color: #404763;
  font-size: sizeHeight(18);

  overflow-y: scroll;

  .footer {
    color: #98A9BC;
    font-size: sizeHeight(12);
  }

  .video, .image {
    display: flex;
    flex-direction: column;
    gap: sizeHeight(5);
  }

  .button {
    height: sizeHeight(57);
    min-height: sizeHeight(57);
    width: 100%;
    border-radius: sizeHeight(22);
    background-color: #006FBA;
    color: #FFFFFF;
    font-size: sizeHeight(18);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  img, video {
    border-radius: sizeHeight(22);
  }

  .usualText {
    color: #303549;
    font-size: sizeHeight(14);
    text-align: justify;
  }

  .accentText {
    color: #303549;
    font-size: sizeHeight(18);
  }

  .block {
    width: 100%;
    padding: sizeWidth(16);
    background-color: #ffffff;
    border-radius: sizeWidth(22);
    font-size: sizeHeight(14);

    display: flex;
    flex-direction: column;
    gap: sizeHeight(5);
  }

  .file {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);

    display: flex;
    gap: sizeWidth(15);
  }

  .blitz {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .more {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    display: flex;
    flex-direction: column;
    gap: sizeHeight(18);
    font-size: sizeHeight(12);

    &__title {
      width: 100%;
      min-height: sizeHeight(30);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: bold;
      font-size: sizeHeight(14);
    }

    .active {
      transform: rotate(-180deg);
    }
  }

  .termin, .attention, .points {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);

    display: flex;
    flex-direction: column;
    gap: sizeHeight(18);

    &__title {
      width: 100%;
      font-style: bold;
      font-size: sizeHeight(14);

      display: flex;
      align-items: center;
      gap: sizeWidth(13);

      &__logo {
        width: sizeWidth(40);
        height: sizeHeight(40);
        border-radius: 50%;
        background-color: #00A99D;

        display: flex;
        justify-content: center;
        align-items: center;

        &-attention {
          background-color: #0059F7;
          height: sizeHeight(40);
          width: sizeHeight(40);
          padding: sizeHeight(8);
          border-radius: 50%;
          box-sizing: border-box;
        }
      }
    }

    &__description {
      font-size: sizeHeight(14);
      text-align: justify;
    }
  }
}
