<ion-header>
  <div class="header">
    <svg-icon class="arrow" src="assets/icon/arrow.svg"
    (click)="backToProgress()"
    ></svg-icon>
   <div class="title">Подробная информация</div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <ng-container *ngFor="let item of data">
      <ng-container [ngSwitch]="item.componentType">
        <div *ngSwitchCase="1" class="image">
          <img  src='http://185.165.161.23/{{item.imagePath}}'/>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="2" class="usualText">
          <span style="text-align: justify" [innerHTML]="item.body | textLines"></span>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="12" class="button" (click)="clickButton(item)">{{item.header}}</div>
        <div *ngSwitchCase="11" class="video">
          <video src='http://185.165.161.23/{{item.videoPath}}' controls></video>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div *ngSwitchCase="3" class="accentText">
          <span>{{item?.header}}</span>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="termin" *ngSwitchCase="4">
          <div class="termin__title">
            <div class="termin__title__logo">
              <svg-icon src="assets/icon/progress/termin.svg"></svg-icon>
            </div>
            <span>{{item.header}}</span>
          </div>
          <div class="termin__description">{{item.body}}</div>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="attention" *ngSwitchCase="5">
          <div class="attention__title">
            <div class="attention__title__logo-attention">
              <svg-icon src="assets/icon/progress/attention.svg"></svg-icon>
            </div>
            <span style="font-weight: bold">{{item.header}}</span>
          </div>
          <div class="attention__description">{{item.body}}</div>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="block" *ngSwitchCase="6">
          <span style="text-align: justify" [innerHTML]="item.body | textLines"></span>
          <div class="footer">{{item.footer}}</div>
        </div>
        <div class="points" *ngSwitchCase="10">
          <div class="points__title">
            <div class="point">
              <svg-icon src="assets/icon/progress/point.svg"></svg-icon>
            </div>
            <span>{{item.header}}</span>
          </div>
          <div class="points__description">{{item.body}}</div>
        </div>
        <div class="file" *ngSwitchCase="8" (click)="openFile()">
          <svg-icon src="assets/icon/progress/file.svg"></svg-icon>
          <span>{{item.filePath}}</span>
        </div>
        <div class="more" *ngSwitchCase="9">
          <div class="more__title" (click)="openMore(item)">
            <span>Подробнее</span>
            <svg-icon class="arrow" src="assets/icon/arrow.svg" [ngClass]="{'active': item.isActive}"></svg-icon>
          </div>
          <div class="more__description" *ngIf="item.isActive">
            <span>{{item.body}}</span>
            <div class="footer">{{item.footer}}</div>
          </div>
        </div>
        <div class="blitz" *ngSwitchCase="7">
          <div class="blitz__header">{{item.header}}</div>
          <div class="blitz__rate"></div>
          <div class="footer">{{item.footer}}</div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
