<ion-header>
  <div class="header">
    <div class="title">Тестирования</div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <ng-container *ngFor="let test of tests">
      <div class="test">
        <div class="test__logo">
          <svg-icon src="assets/icon/tests/list.svg"></svg-icon>
        </div>
        <div class="test__name">
          <div class="title">Тестирование по корпоративным коммуникациям</div>
          <div class="deadline">Доступно до 18 ноября</div>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>