@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  background-color: #001F4A;
  color: #ffffff;
  font-family: 'SegoeUI_Bold';
  font-size: sizeHeight(30);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 sizeWidth(24);
  overflow: hidden;

  position: relative;

  .gradient {
    position: absolute;
    right: sizeWidth(-65);
    top: sizeHeight(-50);
    z-index: 1;
    width: sizeWidth(168);
    height: sizeHeight(270);
    background: linear-gradient(244.98deg, #FFFFFF 9.11%, rgba(255, 255, 255, 0) 53.64%);
    opacity: 0.25;
    transform: rotate(-145deg);
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: sizeHeight(84);
  }
}

ion-content {
  --background: #f8fafb;
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(24) sizeWidth(24);
  display: flex;
  flex-direction: column;

  color: #404763;
  font-size: sizeHeight(17);
  z-index: 99;

  overflow-y: scroll;

  .empty {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .text {
      width: 100%;
      margin-top: sizeHeight(13);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .test {
    width: 100%;
    border-radius: sizeHeight(22);
    background: linear-gradient(272.34deg, #E59D47 -1.96%, #EB426A 39.57%);
    padding: sizeHeight(14) sizeWidth(20);
    margin-bottom: sizeHeight(8);
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);
    color: #F8FAFB;

    display: flex;
    align-items: center;

    &__logo {
      min-width: sizeHeight(36);
      height: sizeHeight(36);
      width: sizeHeight(36);
      border-radius: sizeHeight(12);
      margin-right: sizeHeight(15);
      padding: sizeHeight(7);
    }

    &__name {
      height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: 'SegoeUI_Bold';
      font-size: sizeHeight(16);

      .deadline {
        font-size: sizeHeight(14);
        color: #1C76FE
      }
    }
  }
}
