@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  background-color: #006FBA;
  color: #ffffff;
  font-weight: 600;
  font-size: sizeHeight(30);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 0 sizeWidth(24);

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: sizeHeight(84);
  }
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(24) sizeWidth(24);
  display: flex;
  flex-direction: column;

  color: #404763;
  font-size: sizeHeight(16);

  overflow-y: scroll;

  .empty {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      width: 100%;
      margin-top: sizeHeight(13);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .test {
    height: sizeHeight(84);
    width: 100%;
    border-radius: sizeHeight(22);
    background-color: #ffffff;
    padding: 0 sizeWidth(20);
    margin-bottom: sizeHeight(8);

    display: flex;
    align-items: center;

    &__logo {
      min-width: sizeHeight(36);
      height: sizeHeight(36);
      width: sizeHeight(36);
      background-color: #006FBA;
      border-radius: sizeHeight(12);
      margin-right: sizeHeight(15);
      padding: sizeHeight(10);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        color: #404763
      }

      .deadline {
        font-size: sizeHeight(14);
        color: #006FBA
      }
    }
  }
}
