@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.stories {
    width: 100%;
    display: flex;

    overflow-x: scroll;
    
    &__item {
      height: sizeHeight(157);
      min-width: sizeWidth(224);
      max-width: sizeWidth(224);
      border-radius: sizeHeight(22);
      padding: sizeHeight(15);
      margin-right: 2vw;
      overflow: hidden;

      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .name {
      position: absolute;
      top: 50%;
      z-index: 1;
      color: #FFFFFF;
      font-size: sizeHeight(16);
    }
  }