@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

::ng-deep {
  ion-modal {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100% !important;
        border-radius: 0 !important;
    }
}
}

.header {
  height: sizeHeight(126);
  background-color: #006fba;
  color: #ffffff;
  font-weight: 600;
  font-size: sizeHeight(30);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 0 sizeWidth(24);

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: sizeHeight(84);
  }
}

.menu {
  height: sizeHeight(42);
  width: 100%;
  padding: 0 sizeWidth(24);
  background-color: #006fba;
  color: #ffffff;

  display: flex;
  display: flex;

  .item {
    margin-right: sizeWidth(27);
  }

  .active {
    opacity: 0.5;
  }
}
#background-content {
  height: 100%;
  background-color: #f8fafb;
}
.content {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: sizeHeight(22) sizeWidth(24);
  font-size: sizeHeight(17);
  overflow-y: hidden;
  color: #404763;
  background-color: #f8fafb;

  .scroll-container {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .section-name {
      width: 100%;
      padding: sizeHeight(27) 0;

      display: flex;
      align-items: center;

      color: #404763;
      font-weight: 600;
      font-size: sizeHeight(26);
    }

    .card-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card {
    height: sizeHeight(140);
    width: 40vw;
    border-radius: sizeHeight(22);
    background-color: #ffffff;
    padding: sizeHeight(14) sizeWidth(15);
    margin-bottom: 7vw;
    display: flex;
    flex-direction: column;
    color: #404763;
    overflow: hidden;
    margin-right: 7vw;
    font-weight: bold;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &__icon {
      min-height: sizeWidth(40);
      height: sizeWidth(40);
      width: sizeWidth(40);
      border-radius: sizeHeight(12);
      background-color: #002D4B;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    img {
      max-width: sizeWidth(20);
      max-height: sizeHeight(20);
    }
  }
}

//.content {
//  height: 100%;
//  background-color: #f8fafb;
//  padding: sizeHeight(22) 0;
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//
//  color: #404763;
//  font-size: sizeHeight(17);
//
//  overflow-y: scroll;
//
//  .empty {
//    width: 100%;
//    height: 100%;
//
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//
//    .text {
//      width: 100%;
//      margin-top: sizeHeight(13);
//
//      display: flex;
//      justify-content: center;
//      align-items: center;
//    }
//  }
//}
