<ion-header>
  <div class="header">
    <div class="title">Справочник</div>
  </div>
  <div class="menu">
    <ng-container *ngFor="let item of cities">
      <div (click)="changeCity(item)" [ngClass]="{'active': item !== (city$ | async)}">{{item}}</div>
    </ng-container>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <ng-container *ngFor="let card of data">
    <div class="card" (click)="openCard(card)">
      <div class="card__icon">
        <img src="http://admin.corporateservice.gnkdev.space/{{card?.iconPath}}"/>
      </div>
      <div class="card__name">{{card.title}}</div>
    </div>
  </ng-container>
  </div>
</ion-content>
