<ion-content scrollY="false">
  <div class="content">
    <div class="section-name">Советы и рекомендации</div>
    <app-tabs-offline-stories></app-tabs-offline-stories>
    <div class="section-name">Справочники</div>
    <div class="scroll-container">
      <div class="card-wrapper">
        <div *ngFor="let card of sections || []" class="card ripple-parent ion-activatable" (click)="openCard(card)"
             [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
          <ion-ripple-effect></ion-ripple-effect>
          <div class="card__icon">
            <img src="{{restUrl}}/{{card?.iconPath}}"/>
          </div>
          <div class="card__name">{{card.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="content">-->
  <!--    <div class="empty">-->
  <!--      <svg-icon src="assets/icon/empty.svg"></svg-icon>-->
  <!--      <div class="text">Для Вас пока не сформирован справочник</div>-->
  <!--    </div>-->
  <!--  </div>-->
</ion-content>
