@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: 24vh;
  background-color: #006FBA;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  padding: 5vh;
  font-weight: 600;

  &__title {
    font-size: sizeHeight(30);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__percent {
    font-size: sizeHeight(32);
  }

  &__step {
    font-size: sizeHeight(24);
  }

  .logout {
    width: sizeHeight(48);
    height: sizeHeight(48);
    background-color: #ffffff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    padding: 1.5vh;

    svg-icon {
      height: fit-content;
      width: 100%;
      margin-left: -.5vh;
      margin-top: -.3vh;
    }
  }
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 24vh;
  background-color: rgba(255, 255, 255, 0.2);
}

ion-content {
  --background: #f8fafb;
}

.content {
  background-color: #f8fafb;
  height: 100%;
  padding: sizeHeight(24) sizeWidth(24);

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #404763;
  font-size: sizeHeight(16);
  font-weight: 600;

  overflow-y: auto;

  .item {
    width: 100%;
    height: sizeHeight(38);
    padding: sizeHeight(10) 0;
    margin-bottom: sizeHeight(10);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__header {
      flex-grow: 1;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__stage {
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .total {
        margin-right: sizeWidth(5);
        width: max-content;
        min-width: max-content;

        &__done {
          color: #0BA4A4;
        }
      }
    }

    .arrow {
      transform: rotate(-90deg);
    }

    .active {
      transform: none;
    }
  }

  .stage {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: sizeHeight(16) sizeWidth(30);
    border-radius: sizeHeight(4);
    background-color: #FFFFFF;
    font-size: sizeHeight(16);
    font-weight: 600;
    margin: sizeHeight(4) 0;

    &__name {
      flex-grow: 1;
      align-self: flex-start;
      word-break: break-word;
    }

    &-disabled {
      opacity: .5;
      pointer-events: none;
    }

    &-active {
      //background-color: #006FBA;
      //color: #ffffff;
    }

    .done {
      margin-top: sizeHeight(5);
      font-size: sizeHeight(12);
      color: #0BA4A4;
    }
  }
}
