<ion-header>
  <div class="header">
    <div class="progress" [ngStyle]="{'width.%': percentProgress * 100}"></div>

    <div class="header__title">
      <span>Моя адаптация</span>
      <div (click)="handleButtonClick()" class="logout">
        <svg-icon class="logout-logo" src="assets/icon/logout.svg"></svg-icon>
      </div>
    </div>
    <div class="header__percent">
      <span>{{(percentProgress * 100).toFixed(0)}}%</span>
      <div class="header__step">{{doneStages}} из {{allStagesLength}}</div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
<!--    <ion-content class="content">-->
<!--      <ion-refresher #refresher slot="fixed" style="z-index: 999" (ionRefresh)="doRefresh($event)">-->
<!--        <ion-refresher-content></ion-refresher-content>-->
<!--      </ion-refresher>-->
      <ng-container *ngFor="let item of data?.adaptationStages">
        <div class="item ion-activatable ripple-parent" (click)="switchStage(item)">
          <ion-ripple-effect></ion-ripple-effect>
          <div class="item__title">
            <div class="item__header">{{item.name.toUpperCase()}}</div>
            <div class="item__stage">
              <div class="total"><span class="total__done">{{item.doneCount || 0}}</span> из
                {{item.adaptationSubStages?.length}}</div>
              <svg-icon class="arrow" src="assets/icon/arrow.svg" [ngClass]="{'active': item.isActive}"></svg-icon>
            </div>
          </div>
          <div class="item__description">
            {{item?.description}}
          </div>
        </div>
        <div [@inOutAnimation] *ngIf="item.isActive">
          <ng-container *ngFor="let element of item.adaptationSubStages">
            <div class="stage" [ngClass]="{'stage-active': element.isDone, 'stage-disabled': element.disabled}" (click)="toProgressCard(element)">
              <div class="stage__icon" [ngClass]="{'stage__icon-done': element.isDone}">
                <svg-icon src="assets/icon/progress/{{element.subStageType}}.svg"></svg-icon>
              </div>
              <div class="stage__text">
                <span>{{element.name}}</span>
                <span *ngIf="element.isDone" class="done">Выполнено</span>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
<!--    </ion-content>-->
  </div>
</ion-content>
