<ion-header>
  <div class="header">
    <div class="progress" [ngStyle]="{'width.%': percentProgress * 100}"></div>

    <div class="header__title">Моя адаптация</div>
    <div class="header__percent">
      <span>{{(percentProgress * 100).toFixed(0)}}%</span>
      <div class="header__step">{{doneStages}} из {{allStagesLength}}</div>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-refresher #refresher slot="fixed" style="z-index: 999" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content">
    <ng-container *ngFor="let item of data?.adaptationStages">
      <div class="item" (click)="switchStage(item)">
        <div class="item__header">{{item.name}}</div>
        <div class="item__stage">
          <div class="total"><span class="total__done">{{item.doneCount || 0}}</span> из
            {{item.adaptationSubStages?.length}}</div>
          <svg-icon class="arrow" src="assets/icon/arrow.svg" [ngClass]="{'active': item.isActive}"></svg-icon>
        </div>
      </div>
      <ng-container *ngIf="item.isActive">
        <ng-container *ngFor="let element of item.adaptationSubStages">
          <div class="stage" [ngClass]="{'stage-active': element.isDone, 'stage-disabled': element.disabled}" (click)="toProgressCard(element)">
            <span>{{element.name}}</span>
            <span *ngIf="element.isDone" class="done">Выполнено</span>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
