@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.bar {
  height: sizeHeight(65);
  border-radius: sizeHeight(11);
  background-color: #1C76FE;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'SegoeUI_Bold';
  padding: sizeHeight(12);
  margin: 0 sizeWidth(24) sizeHeight(10);

  &__title {
    font-size: sizeHeight(30);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__percent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: sizeHeight(24);

    .task {
      font-size: sizeHeight(12);
    }
  }

  &__lock {
    min-height: sizeHeight(30);
    min-width: sizeHeight(30);
    max-height: sizeHeight(30);
    max-width: sizeHeight(30);
    margin-right: sizeHeight(12);
  }
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 24vh;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 1s;
}

.container {
  position: relative;
  background-color: #f8fafb;
  height: 100%;
  width: 100%;
  padding-top: sizeHeight(55);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #404763;
  font-size: sizeHeight(17);
  font-weight: 600;

  box-sizing: border-box;
  overflow: hidden;

  .title {
    width: 100%;
    /*height: sizeHeight(32);*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    //box-shadow: 0 0 5vh 1vh white;
    z-index: 9999;

    padding: 0 sizeWidth(24) sizeHeight(20);
    padding-bottom: 0;

    &__name {
      color: #404763;
      font-family: 'SegoeUI_Bold';
      font-size: sizeHeight(26);
      font-weight: 400 !important;
    }

    &__info {
      height: sizeHeight(29);
      width: sizeHeight(29);
    }
  }

  .content {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 77vh;
    overflow: hidden;
    margin-top: sizeHeight(20);

    .header {
      width: 100%;
      margin-bottom: sizeHeight(20);
      position: absolute;
      left: 0;
    }
  }

  .scroll {
    width: 100%;
    height: 100%;
    padding-top: 35vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .parallax {
      width: 100%;
      padding: sizeHeight(20) sizeWidth(24);
      border-radius: sizeHeight(22) sizeHeight(22) 0 0;
      z-index: 999;
      background: #FFFFFF;
    }
  }

  .stages {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }

  .shadow {
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);
  }

  .item {
    min-width: sizeWidth(220);
    width: sizeWidth(220);
    height: sizeHeight(200);
    background-color: #FFFFFF;
    padding: sizeHeight(14) sizeWidth(14);
    margin-right: sizeHeight(10);
    border-radius: sizeHeight(11);
    color: #404763;
    opacity: 0.6;
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;
    filter: grayscale(100%);
    overflow: hidden;

    &:first-child {
      margin-left: sizeWidth(24);
    }

    &:last-child {
      margin-right: sizeWidth(24);
    }

    &-active {
      opacity: 1;
      filter: grayscale(0);
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: sizeHeight(6);
    }

    &__header {
      flex-grow: 1;
      color: #404763;
      font-family: 'SegoeUI_Bold';
      font-size: sizeHeight(20);
    }

    &__description {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: sizeHeight(14);
      color: #8C99B2;
    }

    &__stage {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .total {
        position: absolute;
        right: sizeWidth(20);
        bottom: sizeHeight(10);

        margin-right: sizeWidth(5);
        width: max-content;
        min-width: max-content;

        &__done {
          color: #0BA4A4;
        }
      }
    }

    &__icon {
      position: absolute;
      left: sizeHeight(14);
      bottom: sizeHeight(10);
      width: sizeHeight(85);
      height: sizeHeight(85);
      border-radius: 50%;
    }

    cashed-img {
      border-radius: 50%;
    }
  }

  .stage {
    flex-grow: 1;
    width: 100%;
    display: flex;
    padding: sizeHeight(16) sizeWidth(10);
    border-radius: sizeHeight(11);
    background-color: #F8FAFB;
    font-size: sizeHeight(14);
    font-weight: 400;
    margin-bottom: sizeHeight(8);
    overflow: hidden;

    //box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    .timer {
      width: 100%;
      display: flex;
      font-size: sizeHeight(14);
      color: #8C99B2;
      font-family: 'SegoeUI_Bold';

      &__logo {
        margin-right: sizeWidth(7);
      }
    }

    &__icon {
      width: sizeHeight(54);
      min-width: sizeHeight(54);
      height: sizeHeight(54);
      border-radius: 50%;
      background-color: rgba(196, 211, 233, 0.1);

      padding: sizeHeight(16);
      margin-right: sizeWidth(15);

      &-done {
        background-color: #0BA4A4;
      }
    }

    &__text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: sizeHeight(16);

      &__name {
        margin-bottom: sizeHeight(10);
      }
    }

    &-disabled {
      opacity: .5;
      pointer-events: none;
    }

    .done {
      margin-top: sizeHeight(5);
      font-size: sizeHeight(12);
      color: #0BA4A4;
    }
  }
}

svg-icon {
  display: flex;
}
