@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  background-color: #1C76FE;
  color: #ffffff;
  font-family: 'SegoeUI_Bold';
  font-size: sizeHeight(30);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 sizeWidth(24);

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: sizeHeight(84);
  }
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(24) sizeWidth(24);
  display: flex;
  flex-direction: column;
  margin-bottom: sizeHeight(5);

  color: #404763;
  font-size: sizeHeight(17);

  overflow-y: scroll;

  .empty {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606580;
    font-size: sizeHeight(14);
    margin: sizeHeight(10) 0;
  }

  .notifications {
    width: 100%;
    padding: sizeHeight(15) sizeWidth(14);
    border-radius: sizeHeight(22);
    background-color: #ffffff;
    margin: sizeHeight(5) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 sizeHeight(4) 0 rgba(203, 203, 203, 0.25);

    position: relative;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: sizeHeight(15);
      font-weight: bold;
    }

    &__body {
      width: 100%;
      padding-left: sizeWidth(45);
    }
  }

  .icon {
    min-width: sizeWidth(35);
    min-height: sizeWidth(35);
    width: sizeWidth(35);
    height: sizeWidth(35);
    border-radius: 50%;
    margin-right: sizeWidth(10);
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &__daily {
      background-color: #eb5757;
    }

    &__test {
      background-color: #08bdba;
    }

    svg-icon {
      margin-top: 0.5vh;
    }
  }
}

.empty {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    width: 100%;
    margin-top: sizeHeight(13);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
