<div class="header">
  <div class="title">Ваш профиль</div>
</div>
<div class="menu">
  <ng-container *ngFor="let item of sections">
    <div (click)="changeSection(item)" class="item" [ngClass]="{'active': item !== (section$ | async)}">{{item}}</div>
  </ng-container>
</div>
<ion-content>
  <div class="content">
    <ng-container [ngSwitch]="section$ | async">
      <ng-container *ngSwitchCase="'Уведомления'">
        <ng-container *ngIf="!!(notifications$ | async)?.length; else empty">
          <ng-container *ngFor="let item of notifications$ | async">
            <div class="date">{{item.date | date: 'mediumDate'}}</div>
            <div class="notifications" *ngFor="let element of item.notifications">
              <div class="notifications__header">
                <div class="icon"
                  [ngClass]="{'icon__test': element.notificationType === 1, 'icon__daily': element.notificationType === 2}">
                  <svg-icon [src]="'assets/icon/'+(element.notificationType === 1 ? 'brain' : 'calendar')+'.svg'">
                  </svg-icon>
                </div>
                <div class="text">{{element.header}}</div>
              </div>
              <div class="notifications__body">{{element.body}}</div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #empty>
          <div class="empty">
            <svg-icon src="assets/icon/empty.svg"></svg-icon>
            <div class="text">У Вас пока нет уведомлений</div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'Настройки'">
        <div class="change-user" (click)="changeUser()">
          <span>Сменить пользователя</span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>