<ion-header>
  <div class="header">
    <div class="title">Ваш профиль</div>
  </div>
  <div class="menu">
    <div *ngFor="let item of sections">
      <div (click)="changeSection(item)" class="item" [ngClass]="{'active': item !== (section$ | async)}">{{item}}</div>
    </div>
  </div>
</ion-header>
<ion-content style="height: 100%">
  <div class="content">
    <div style="height: 100%" [ngSwitch]="section$ | async">
      <div style="height: 100%" *ngSwitchCase="'События'">
       <div *ngIf="!!(notifications$ | async)?.length">
          <div class="notifications__group" *ngFor="let item of notifications$ | async">
            <div class="date">{{item.date | date: 'mediumDate'}}</div>
            <div class="notifications" *ngFor="let element of item.notifications"
                 [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
              <div class="notifications__block">
                <div class="icon"
                     [ngClass]="{
                  'icon__test': element.notificationType === 1,
                  'icon__daily': element.notificationType === 2,
                  'icon__plane': element.notificationType === 3
                  }">
                  <svg-icon [src]="'assets/icon/'+((element.notificationType === 1) ? 'brain' :
                  (element.notificationType === 2) ? 'calendar' : 'plane') + '.svg'">
                  </svg-icon>
                </div>
                <div>
                  <div class="notifications__header">
                    <div class="text">{{element.header}}</div>
                  </div>
                  <div class="notifications__subtitle" *ngIf="element.notificationType === 3">
                    {{element?.subtitle}}
                  </div>
                  <div class="notifications__body">{{element.body}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty" *ngIf="!!!(notifications$ | async)?.length">
          <div>
            <div>
              <svg-icon src="assets/icon/empty.svg"></svg-icon>
              <div class="text">У Вас пока нет уведомлений</div>
            </div>

          </div>
        </div>
      </div>
      <div *ngSwitchCase="'Настройки'">
        <div class="notifications settings-item" style="min-height: 6.65vh !important;"
             [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
          <div class="settings-item__name">Организация</div>
          <div style="max-width: 50%; text-align: right" *ngIf="apiSettingsService.currentUser.organization" class="settings-item__simple-text organization-name">{{apiSettingsService.currentUser.organization}}</div>
          <div style="max-width: 50%; text-align: right" *ngIf="!apiSettingsService.currentUser.organization"  class="settings-item__simple-text organization-name">Не определена</div>
        </div>
        <div class="notifications settings-item" style="height: 6.65vh !important;"
             [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
          <div class="settings-item__name">ID</div>
          <div class="settings-item__simple-text">{{apiSettingsService.currentUser.userName}}</div>
        </div>
        <div class="notifications settings-item" style="height: 6.65vh !important;"
             [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
          <div class="settings-item__name">Версия</div>
          <div class="settings-item__version-block">
            <div class="settings-item__version-block__date">
              {{apiVersionService.currentVersion.dateTime | date: 'dd.MM.yyyy'}}
            </div>
            <div class="settings-item__version-block__name">
              {{apiVersionService.currentVersion.versionName}}
            </div>
          </div>
        </div>
        <div class="notifications settings-item" style="height: 6.65vh !important;"
             [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
          <div class="settings-item__name">Push-уведомления</div>
          <div class="toggle-block" [class.toggle-block_enabled]="apiSettingsService.currentUser.areNotificationsEnabled">
            <ion-toggle (ngModelChange)="toggleNotifications($event)" [(ngModel)]="apiSettingsService.currentUser.areNotificationsEnabled" class="toggle"></ion-toggle>
          </div>
        </div>
        <div class="notifications settings-item" style="height: 6.65vh !important;"
             [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
          <div class="settings-item__name">Тема</div>
          <div class="toggle-block" [class.toggle-block_enabled]="myThemeService.isThemeLight">
            <ion-toggle (ngModelChange)="toggleTheme()" [(ngModel)]="myThemeService.isThemeLight" class="toggle"></ion-toggle>
            <img  style="position: absolute; pointer-events: none; z-index: 9999; left: 1.6vw; height: 1.724vh; width: 1.724vh"
                 src="assets/icon/theme_dark.svg"/>
            <img style="position: absolute; pointer-events: none; z-index: 9999; right: 1.6vw; height: 1.724vh; width: 1.724vh"
                 src="assets/icon/theme_light.svg"/>
          </div>
        </div>
        <div class="change-user" (click)="changeUser()">
          <span>Сменить пользователя</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
