<ion-header>
  <div class="header">
    <div class="title">Ваши уведомления</div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <ng-container *ngFor="let item of notifications">
      <div class="date">{{item.date | date: 'mediumDate'}}</div>
      <div class="notifications" *ngFor="let element of item.notification">
        <div class="calendar">
          <svg-icon class="logo" src="assets/icon/calendar.svg"></svg-icon>
        </div>
        <div class="text">{{element}}</div>
      </div>
    </ng-container>
  </div>
</ion-content>