<ion-header>
  <div class="header">
    <svg-icon class="arrow" src="assets/icon/arrow.svg" (click)="backToOffline()"></svg-icon>
    <div class="title">Подробная информация</div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <div
      *ngIf="type === 1"
      (click)="changeFavouriteView()"
      class="favorite-common"
      [class.favorite-common_active]="dictViewFav$ | async"
    >
      <span>{{(dictViewFav$ | async) ? 'К списку' : 'Избранное'}}</span>
    </div>
    <div class="search">
      <app-tabs-offline-search (search)="filterSections($event)" style="margin-bottom: 2vh"></app-tabs-offline-search>
    </div>
    <div class="scroll-container">
      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="1">
          <ng-container *ngFor="let dict of dictionaries || [] index as i">
            <div class="letter"><span>{{dict.letter}}</span></div>
            <div class="card"  *ngFor="let stage of dict.stages" [class.card__last-card] = "type === 1"
                 [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
              <div class="name" (click)="openSubStage(stage)">{{ stage?.name }}</div>
              <div class="favorite" [ngClass]="{'favorite-active': stage.isFavourite}" (click)="addToFavorite(stage)">
                <svg-icon src="assets/icon/progress/star.svg"></svg-icon>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="card" *ngFor="let item of substages"
               [class.big-shadow-light]="myThemeService.isThemeLight" [class.big-shadow-dark]="!myThemeService.isThemeLight">
            <div class="name" (click)="openSubStage(item)">{{ item?.name }}</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>
