@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

#background-content {
  height: 100%;
  background-color: var(--bg-color-2);
}

ion-content {
  --background: var(--bg-color-2);
}

.favorite-common {
  z-index: 1;
  position: absolute;
  display: flex;
  width: sizeWidth(193);
  height: sizeHeight(50);
  background: #F2994A;
  bottom: sizeHeight(13);
  border-radius: sizeHeight(25);
  transition: .3s;

  &_active {
    background: #1C76FE;
    transition: .3s;
  }

  span {
    margin: auto;
    color: white;
    font-size: sizeHeight(18);
  }
}

.header {
  height: sizeHeight(126);
  background-color: var(--header);
  color: #ffffff;
  font-weight: 500;
  font-size: sizeHeight(18);

  display: flex;
  align-items: center;

  padding: sizeHeight(44) sizeWidth(30) 0;

  .arrow {
    transform: rotate(90deg);
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: sizeWidth(25);
    font-family: 'SegoeUI_Bold';
  }
}

.content {
  position: relative;
  height: 100%;
  background-color: var(--bg-color-2);
  padding: sizeHeight(25) sizeWidth(24) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-contrast);
  font-size: sizeHeight(18);


  .scroll-container {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .search {
    height: sizeHeight(48);
    width: 100%;
    margin-bottom: 2vh;
  }

  .letter {
    height: sizeHeight(40);
    width: 100%;
    margin-bottom: sizeHeight(8);
    color: var(--text-subtitle);
    font-size: sizeHeight(22);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 99.5%;
    padding: sizeHeight(14) sizeWidth(17);
    margin-right: 4px;
    box-sizing: border-box;
    background: var(--bg-block);
    border-radius: sizeHeight(22);
    margin-bottom: sizeHeight(8);

    &__last-card {
      padding: sizeHeight(6) sizeWidth(8) sizeHeight(6) sizeWidth(17);

      &:last-child {
        margin-bottom: sizeHeight(80);
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      flex-grow: 1;
      height: 100%;
      width: 100%;
      margin-right: sizeWidth(10);
    }

    .favorite {
      height: sizeHeight(42);
      width: sizeHeight(42);
      min-width: sizeHeight(42);
      border-radius: 50%;
      padding: sizeHeight(10);
      color: #FFFFFF;
      background-color: var(--gray-g9);

      &-active {
        background-color: #F2994A;
      }
    }
  }
}
