@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.header {
  height: sizeHeight(126);
  background-color: #006FBA;
  color: #ffffff;
  font-weight: 500;
  font-size: sizeHeight(18);

  display: flex;
  align-items: center;


  padding: sizeHeight(44) sizeWidth(30) 0;

  .arrow {
    transform: rotate(90deg);
  }

  .title {
    display: flex;
    align-items: center;
    margin-left: sizeWidth(25);
  }
}

.content {
  height: 100%;
  background-color: #f8fafb;
  padding: sizeHeight(25) sizeWidth(16) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #404763;
  font-size: sizeHeight(18);
  overflow-y: scroll;

  .card {
    width: 100%;
    padding: sizeHeight(14) sizeWidth(17);
    font-size: sizeHeight(16);
    box-sizing: border-box;
    background: white;
    border-radius: sizeHeight(20);
    margin-bottom: sizeHeight(8);
  }
}
