<div class="container">
  <div class="button" (click)="previousStory()"></div>
  <div class="button" (click)="nextStory()"></div>
  <img src="{{restUrl}}/{{story.history[index].imagePath}}">
  <div class="close" (click)="dismiss()">
    <svg-icon src="assets/icon/offline/close.svg"></svg-icon>
  </div>
  <div class="container__header">
    <ng-container *ngFor="let element of story.history index as i">
      <div class="element">
        <div id="bar"></div>
      </div>
    </ng-container>
  </div>
  <div class="container__body">
    <div class="number">
      <div class="order">{{index+1}}</div>
    </div>
    <div class="title">{{story.history[index].header}}</div>
    <div class="description">{{story.history[index].body}}</div>
  </div>
</div>