<ng-container *ngFor="let item of data">
    <div class="item" (click)="switchStage(item)">
      <div class="item__header">{{item.name}}</div>
      <div class="item__stage">
        <svg-icon class="arrow" src="assets/icon/arrow.svg" [ngClass]="{'active': item.isActive}"></svg-icon>
      </div>
    </div>
    <div [@inOutAnimation] style="overflow: hidden;" *ngIf="item.isActive">
      <ng-container *ngFor="let element of item.masterMinds">
        <app-tabs-about-leadership-card
        (click)="openPerson(element)"
        [element] = "element"
        ></app-tabs-about-leadership-card>
      </ng-container>
    </div>
</ng-container>
