@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.item {
  margin-top: sizeHeight(10);
  width: 100%;
  // height: sizeHeight(38);
  padding: sizeHeight(21) sizeHeight(16) !important;
  display: flex;
  background: #845CF4;
  color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px sizeHeight(5) rgba(203, 203, 203, 0.25);
  border-radius: sizeHeight(16);

  &__header {
    flex-grow: 1;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__stage {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {
      width: sizeWidth(60);

      &__done {
        color: #1C76FE;
      }
    }
  }

  .arrow {
    transform: rotate(-90deg);
    transition: .3s;
  }

  .active {
    transform: none;
    transition: .3s;
  }
}
