@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

ion-slides {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  ::ng-deep {
    .swiper-pagination {
      position: absolute;
      top: sizeHeight(92) !important;
      left: sizeHeight(32);
      width: 100%;
      text-align: left;
      vertical-align: center !important;
      display: flex;
      height: sizeHeight(10);
      align-items: center;
      z-index: 99999;
    }

    .swiper-pagination-bullet {
      border: 1px solid #FFFFFF;
      background: transparent;
      opacity: 1;
      margin-right: sizeWidth(9) !important;
      margin-left: sizeWidth(0) !important;
      min-height: sizeHeight(6);
      min-width: sizeHeight(6);
      max-height: sizeHeight(6);
      max-width: sizeHeight(6);
      padding: 0;

    }
    .swiper-pagination-bullet-active {
      border: 1px solid #FFFFFF;
      opacity: 1;
      min-height: sizeHeight(12);
      min-width: sizeHeight(12);
      max-height: sizeHeight(12);
      max-width: sizeHeight(12);
      background: #FFFFFF !important;
    }
  }
}

.container {
  height: 100%;
  width: 100%;
  padding: sizeHeight(92) sizeHeight(32);
  z-index: 9999999;

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__picture {
    width: 100%;
    height: sizeHeight(330);
    border-radius: 0 0 sizeHeight(22) sizeHeight(22);
    overflow: hidden;
    position: relative;
    background-color: #1C76FE;

    .logo {
      z-index: 999;
      width: sizeHeight(40);
      height: sizeHeght(40);
      padding: sizeHeight(2);

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: sizeHeight(45);
      left: sizeWidth(30);
    }
  }

  .title {
    width: 95%;

    text-align: left;
    margin-top: sizeHeight(41);
    font-family: "SegoeUI_Bold";
    font-weight: bold;
    font-size: sizeHeight(32);
    line-height: sizeHeight(46);
    margin-bottom: sizeHeight(23);
    color: white;
    text-transform: uppercase;
  }

  .description {
    text-align: left;
    font-family: "SegoeUI";
    line-height: sizeHeight(25);
    width: 95%;
    font-size: sizeHeight(18);
    color: white;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 sizeWidth(18);
    margin: sizeHeight(50) 0;


    .start {
      height: sizeHeight(57);
      min-height: sizeHeight(57);
      width: 100%;
      border-radius: sizeHeight(22);
      background-color: var(--blue);
      color: #ffffff;
      font-size: sizeHeight(18);

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.button {
  z-index: 999999999999;
  cursor: pointer;
  position: absolute;
  left: sizeHeight(32);
  bottom: sizeHeight(82);
  font-family: "SegoeUI";
  font-size: sizeHeight(18);
  width: calc(100vw - 7.9vh);
  padding: sizeHeight(16) sizeHeight(50);
  border: sizeHeight(2) solid #FFFFFF;
  border-radius: sizeHeight(20);
}
