
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of startPageInfo">
      <div style="height: 100vh; width: 100vw; position: absolute">
        <img src="{{item.image}}" style="object-fit: cover; width: 100%; height: 100%" />
      </div>
      <div class="container" >
        <div class="title">{{item.title}}</div>
        <div class="description">
          {{item.description}}
        </div>
        <!--<div class="container__buttons">
          <div class="start" (click)="start()">Начать пользоваться</div>
        </div>-->
      </div>
      <div (click)="start()" class="button">
      Приступить
      </div>
    </ion-slide>
  </ion-slides>
