<ion-header [class.ion-no-border]="section$.value === 'История'">
<div class="header">
  <div class="title">О компании</div>
</div>
<div class="menu">
  <ng-container *ngFor="let item of sections">
    <div (click)="changeSection(item)" class="item" [ngClass]="{'active': item !== (section$ | async)}">{{item}}</div>
  </ng-container>
</div>
</ion-header>
<div class="content">
  <ng-container [ngSwitch]="section$ | async">
    <div class="history" *ngSwitchCase="'История'">
      <ion-header>
        <div class="history__periods">
          <app-tabs-about-history [data]="history"></app-tabs-about-history>
        </div>
      </ion-header>

      <div class="history__content">

        <ng-container *ngFor="let bullet of showHistory?.historyBullets">
          <div class="title">{{bullet?.header}}</div>
          <div class="image">
            <cashed-img *ngIf="bullet.imagePath" [src]="restUrl+'/'+bullet?.imagePath"></cashed-img>
          </div>
          <p>{{ bullet.text }}</p>
          <div class="line"></div>
        </ng-container>
      </div>
    </div>
    <div class="leadership" *ngSwitchCase="'Руководство'">
      <app-tabs-about-leadership [data]="leadership"></app-tabs-about-leadership>
    </div>
  </ng-container>
</div>
