@import "src/theme/functions/resizer";

* {
    box-sizing: border-box;
}
.card {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.header {
    height: sizeHeight(126);
    background-color: #0059f7;
    color: #ffffff;
    font-weight: 500;
    font-size: sizeHeight(30);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 0 sizeWidth(30);

    .title {
        display: flex;
        align-items: center;
        width: 100%;
        height: sizeHeight(84);
    }
}
.menu {
    height: sizeHeight(42);
    width: 100%;
    padding: 0 sizeWidth(30);
    background-color: #0059f7;
    color: #ffffff;

    display: flex;
    display: flex;
    gap: sizeWidth(27);
    .active {
        opacity: 0.5;
    }
}
.content {
    height: 100%;
    background-color: #f8fafb;
    padding: sizeHeight(22) sizeWidth(12);
    display: flex;
    flex-wrap: wrap;
    gap: sizeHeight(15);

    color: #404763;
    font-size: sizeHeight(16);

    overflow-y: scroll;

    .geography {
        width: 100%;
    }

    .history {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__periods {
            display: flex;
            align-items: center;
            gap: sizeWidth(10);
        }
    }

    .leadership {
        width: 100%;
    }

    .card {
        width: 100%;
        height: sizeHeight(156);

        display: flex;
        flex-direction: column;
        gap: sizeHeight(10);
        padding: sizeHeight(21) sizeWidth(16);
        border-radius: sizeHeight(22);
        background-color: #ffffff;
    }
}