@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

ion-slides {
  flex-grow: 1;
  width: 100%;
  margin-bottom: sizeHeight(18);
}

.card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  height: sizeHeight(126);
  background-color: #1C76FE;
  color: #ffffff;
  font-weight: 600;
  font-size: sizeHeight(30);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 0 sizeWidth(24);

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: sizeHeight(84);
  }
}

.menu {
  height: sizeHeight(42);
  width: 100%;
  padding: 0 sizeWidth(24);
  background-color: #1C76FE;
  color: #ffffff;
  font-weight: bold;

  display: flex;

  .item {
    font-size: sizeHeight(17);
    margin-right: sizeWidth(27);
  }

  .active {
    opacity: 0.5;
  }
}

.content {
  height: 100%;
  // padding: sizeHeight(24) sizeWidth(24);
  display: flex;
  flex-wrap: wrap;
  background-color: #f8fafb;

  color: #404763;
  font-size: sizeHeight(17);

  .history {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      width: 100%;
      font-size: sizeHeight(18);
      font-weight: 700;
      color: #12151E;
    }

    .image {
      border-radius: sizeHeight(22);
    }

    .line {
      height: 3px;
      width: 80px;
      background-color: #D12771;
    }

    cashed-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    p {
      position: relative;
      text-align: left;
      color: #303549;
      font-size: sizeHeight(14);
    }

    &__content {
      flex-grow: 1;
      height: 100%;
      width: 100%;
      padding: sizeHeight(32);
      font-size: sizeHeight(14);
      line-height: sizeHeight(24);
      overflow: scroll;
    }

    &__periods {
      background-color: #1C76FE;
      width: 100%;
      overflow-x: scroll;
      height: sizeHeight(59);
    }
  }

  .leadership {
    width: 100%;
    padding: sizeHeight(24) sizeWidth(24);
  }
}
