<ion-header>
  <div class="header">
    <div class="title">О компании</div>
  </div>
  <div class="menu">
    <ng-container *ngFor="let item of sections">
      <div (click)="changeSection(item)" [ngClass]="{'active': item !== (section$ | async)}">{{item}}</div>
    </ng-container>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <ng-container [ngSwitch]="section$ | async">
      <div class="geography" *ngSwitchCase="'География'">
        <div class="card">
          <div class="card__city">Московская дирекция</div>
          <div class="card__departament">Департамент системных производственных решений</div>
          <div class="card__services"></div>
          <div class="card__address">109429, Москва г, Капотня 2-й кв-л, дом № 1, корпус 11</div>
        </div>
      </div>
      <div class="history" *ngSwitchCase="'История'">
        <div class="history__page">

        </div>
        <div class="history__periods">
          <div class="period"></div>
        </div>
      </div>
      <div class="leadership" *ngSwitchCase="'Руководство'">
        <app-tabs-about-leadership
        [data]="leadership"
        ></app-tabs-about-leadership>
      </div>
    </ng-container>
  </div>
</ion-content>