<ion-header>
  <div class="header">
    <div class="title">О компании</div>
  </div>
  <div class="menu">
    <ng-container *ngFor="let item of sections">
      <div (click)="changeSection(item)" class="item" [ngClass]="{'active': item !== (section$ | async)}">{{item}}</div>
    </ng-container>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <ng-container [ngSwitch]="section$ | async">
      <div class="history" *ngSwitchCase="'История'">
        <div class="history__periods">
          <app-tabs-about-history [data]="history"></app-tabs-about-history>
        </div>
        <div class="history__content">
          <!-- <div class="title">{{showHistory.header}}</div> -->
          <div class="image">
            <cashed-img *ngIf="showHistory?.imagePath" [src]="restUrl+'/'+showHistory?.imagePath"></cashed-img>
          </div>
          <p *ngFor="let bullet of showHistory?.historyBullets">{{ bullet.text }}</p>
          <div class="line"></div>
        </div>
      </div>
      <div class="leadership" *ngSwitchCase="'Руководство'">
        <app-tabs-about-leadership [data]="leadership"></app-tabs-about-leadership>
      </div>
    </ng-container>
  </div>
</ion-content>