<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696155454613-4fplk77sutf98g74bibvdipsvhv9eb0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696155454613-4fplk77sutf98g74bibvdipsvhv9eb0j</string>
	<key>API_KEY</key>
	<string>AIzaSyAITBlOX0JV5RxFO5VKMqb9S6AmKiuVcsA</string>
	<key>GCM_SENDER_ID</key>
	<string>696155454613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.gpn.adoptation</string>
	<key>PROJECT_ID</key>
	<string>gpnadaptation</string>
	<key>STORAGE_BUCKET</key>
	<string>gpnadaptation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696155454613:ios:17aa6d89dfc887fa5def9c</string>
</dict>
</plist>