@import "src/theme/functions/resizer";

* {
  box-sizing: border-box;
}

.more {
    width: 100%;
    padding: sizeHeight(16);
    background-color: #ffffff;
    border-radius: sizeHeight(22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: sizeHeight(12);
    box-shadow: var(--shadow-big);


    position: relative;

    &__title {
      width: 100%;
      min-height: sizeHeight(20);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-style: bold;
      font-size: sizeHeight(17);
    }

    &__description {
      font-size: sizeHeight(14);
      margin-top: sizeHeight(18);
    }

    .active {
      transform: rotate(-180deg);
    }
  }

  .footer {
    color: #98a9bc;
    font-size: sizeHeight(14);
    margin-top: sizeHeight(5);
}
